html,body {
  height: 100%;
}

a {
	color:	#008B8B;
	font-weight:700;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {border-bottom: 0.1em solid #008B8B}
a:active {border-bottom: 0.1em solid #008B8B}

h1,h2,h3,h4,h5,h6 {font-weight:500;}

body {
  font-family:"Microsoft YaHei","微软雅黑","黑体","宋体",serif;
  background-image: url(bg.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-color: #F0F8FF;
  }

.center {
	text-align:center;
	}

.board {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 3px 3px 3px 0px rgba(128, 128, 128, 0.623);
}

.dlist {
	display:inline-block;
	padding:0 1.5em 0 0;
	max-width: 20em;
	overflow: scroll;
	text-align:left;
	line-height:2em;
}

.list {
	display: inline-block;
	padding: 0 1.5em 0 0;
	max-width: 20em;
	overflow: scroll;
	text-align: left;
	position: relative;
	bottom: 1em;
}

